@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
0 - 600px:      Phone ==============> phone
600px - 900px:  Tablet portrait ====> tab-port
900px - 1200px: Tablet landscape ===> tab-land
1800px + :      Big desktop ========> big-desktop

[1200px - 1800px] is where our normal styles apply

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}